aiofiles==0.3.2
aiohttp==2.3.1
AoikLiveReload==0.1.0
argh==0.26.2
async-timeout==2.0.0
chardet==3.0.4
httptools==0.0.9
multidict==3.3.0
pathtools==0.1.2
py==1.4.34
PyJWT==1.5.2
pytest==3.2.3
PyYAML==3.12
sanic==0.6.0
sanic-jwt==0.3.1
ujson==1.35
uvloop==0.8.1
watchdog==0.8.3
websockets==3.3
yarl==0.13.0
