[paths]
source =
    sanic_jwt
    tests

[run]
source = sanic_jwt
omit = tests
branch = True

[report]
exclude_lines =
    no cov
    no qa
    noqa
    NOQA
    pragma: no cover
    if __name__ == .__main__.:
